/* line 1, ../sass/mammals.scss */
* {
  user-select: none;
}

/* line 32, ../sass/mammals.scss */
.icon {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  margin-top: 50px;
}

/* line 39, ../sass/mammals.scss */
#images {
  display: flex;
  flex-direction: column;
}

/* line 43, ../sass/mammals.scss */
.image {
  display: block;
  margin: 0 auto;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px #fff, 4px 4px 0px rgba(0, 0, 0, 0.2);
  color: #131313;
  width: 70%;
  max-width: 300px;
  height: 120px;
  margin-top: 20px;
  background-size: cover;
  background-position: center;
}
/* line 53, ../sass/mammals.scss */
.image:hover, .image:focus {
  animation: gradientBackground 3s infinite;
  /* animation-name animation-duration animation-timing-function animadelay animation-iteration-count animation-direction; */
}

/* line 59, ../sass/mammals.scss */
.guessed.bear {
  background-image: url("../img/bear.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.bear {
  background-image: url("../img/icons.jpg");
  background-position: 0px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.boar {
  background-image: url("../img/boar.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.boar {
  background-image: url("../img/icons.jpg");
  background-position: -100px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.camel {
  background-image: url("../img/camel.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.camel {
  background-image: url("../img/icons.jpg");
  background-position: -200px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.cat {
  background-image: url("../img/cat.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.cat {
  background-image: url("../img/icons.jpg");
  background-position: -300px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.cow {
  background-image: url("../img/cow.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.cow {
  background-image: url("../img/icons.jpg");
  background-position: -400px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.deer {
  background-image: url("../img/deer.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.deer {
  background-image: url("../img/icons.jpg");
  background-position: -500px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.dog {
  background-image: url("../img/dog.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.dog {
  background-image: url("../img/icons.jpg");
  background-position: -600px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.donkey {
  background-image: url("../img/donkey.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.donkey {
  background-image: url("../img/icons.jpg");
  background-position: -700px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.elephant {
  background-image: url("../img/elephant.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.elephant {
  background-image: url("../img/icons.jpg");
  background-position: -800px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.elk {
  background-image: url("../img/elk.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.elk {
  background-image: url("../img/icons.jpg");
  background-position: -900px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.fox {
  background-image: url("../img/fox.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.fox {
  background-image: url("../img/icons.jpg");
  background-position: -1000px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.giraffe {
  background-image: url("../img/giraffe.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.giraffe {
  background-image: url("../img/icons.jpg");
  background-position: -1100px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.goat {
  background-image: url("../img/goat.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.goat {
  background-image: url("../img/icons.jpg");
  background-position: -1200px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.hamster {
  background-image: url("../img/hamster.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.hamster {
  background-image: url("../img/icons.jpg");
  background-position: -1300px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.hedgehog {
  background-image: url("../img/hedgehog.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.hedgehog {
  background-image: url("../img/icons.jpg");
  background-position: -1400px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.hippo {
  background-image: url("../img/hippo.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.hippo {
  background-image: url("../img/icons.jpg");
  background-position: -1500px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.horse {
  background-image: url("../img/horse.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.horse {
  background-image: url("../img/icons.jpg");
  background-position: -1600px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.hyena {
  background-image: url("../img/hyena.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.hyena {
  background-image: url("../img/icons.jpg");
  background-position: -1700px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.kangaroo {
  background-image: url("../img/kangaroo.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.kangaroo {
  background-image: url("../img/icons.jpg");
  background-position: -1800px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.lion {
  background-image: url("../img/lion.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.lion {
  background-image: url("../img/icons.jpg");
  background-position: -1900px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.monkey {
  background-image: url("../img/monkey.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.monkey {
  background-image: url("../img/icons.jpg");
  background-position: -2000px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.mouse {
  background-image: url("../img/mouse.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.mouse {
  background-image: url("../img/icons.jpg");
  background-position: -2100px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.panda {
  background-image: url("../img/panda.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.panda {
  background-image: url("../img/icons.jpg");
  background-position: -2200px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.porcupine {
  background-image: url("../img/porcupine.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.porcupine {
  background-image: url("../img/icons.jpg");
  background-position: -2300px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.rabbit {
  background-image: url("../img/rabbit.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.rabbit {
  background-image: url("../img/icons.jpg");
  background-position: -2400px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.racoon {
  background-image: url("../img/racoon.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.racoon {
  background-image: url("../img/icons.jpg");
  background-position: -2500px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.rhinoceros {
  background-image: url("../img/rhinoceros.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.rhinoceros {
  background-image: url("../img/icons.jpg");
  background-position: -2600px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.sheep {
  background-image: url("../img/sheep.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.sheep {
  background-image: url("../img/icons.jpg");
  background-position: -2700px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.squirrel {
  background-image: url("../img/squirrel.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.squirrel {
  background-image: url("../img/icons.jpg");
  background-position: -2800px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.tiger {
  background-image: url("../img/tiger.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.tiger {
  background-image: url("../img/icons.jpg");
  background-position: -2900px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.wolf {
  background-image: url("../img/wolf.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.wolf {
  background-image: url("../img/icons.jpg");
  background-position: -3000px 0;
}

/* line 59, ../sass/mammals.scss */
.guessed.zebra {
  background-image: url("../img/zebra.jpg");
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 65, ../sass/mammals.scss */
.icon.zebra {
  background-image: url("../img/icons.jpg");
  background-position: -3100px 0;
}

/* line 71, ../sass/mammals.scss */
.boar {
  background-position-y: 0;
}

/* line 71, ../sass/mammals.scss */
.camel {
  background-position-y: 0;
}

/* line 71, ../sass/mammals.scss */
.cow {
  background-position-y: 0;
}

/* line 71, ../sass/mammals.scss */
.deer {
  background-position-y: 0;
}

/* line 71, ../sass/mammals.scss */
.elk {
  background-position-y: 0;
}

/* line 71, ../sass/mammals.scss */
.giraffe {
  background-position-y: 0;
}

/* line 71, ../sass/mammals.scss */
.goat {
  background-position-y: 0;
}

/* line 71, ../sass/mammals.scss */
.horse {
  background-position-y: 0;
}

/* line 71, ../sass/mammals.scss */
.hyena {
  background-position-y: 0;
}

/* line 71, ../sass/mammals.scss */
.mouse {
  background-position-y: 0;
}

/* line 71, ../sass/mammals.scss */
.panda {
  background-position-y: 0;
}

/* line 71, ../sass/mammals.scss */
.sheep {
  background-position-y: 0;
}

/* line 71, ../sass/mammals.scss */
.zebra {
  background-position-y: 0;
}

/* line 75, ../sass/mammals.scss */
.chosen {
  animation: gradientBackground 3s infinite;
}

/* line 79, ../sass/mammals.scss */
#images .guessed {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 20px;
  transition-duration: 0.5s;
}
/* line 87, ../sass/mammals.scss */
#images .guessed p {
  margin: 10px;
}

/* line 92, ../sass/mammals.scss */
.unclickable {
  pointer-events: none;
}

/* line 95, ../sass/mammals.scss */
.message {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px #fff, 4px 4px 0px rgba(0, 0, 0, 0.2);
  color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: 0 auto;
  margin-top: 25px;
  transition-duration: 0.5s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}
/* line 108, ../sass/mammals.scss */
.message p:nth-child(2) {
  margin-top: 0;
}

/* line 112, ../sass/mammals.scss */
.invisible {
  display: none;
}

@keyframes gradientBackground {
  0% {
    background-color: #ffdede;
    box-shadow: 0 -100px 100px -50px #b9d5b8 inset, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  20% {
    background-color: #fff6de;
    box-shadow: 0 -100px 100px -50px #a5a7bb inset, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  40% {
    background-color: #e9f1d2;
    box-shadow: 0 -100px 100px -50px #c9aec1 inset, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  60% {
    background-color: #8a9a9e;
    box-shadow: 0 -100px 100px -50px #ffeedd inset, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  80% {
    background-color: #a2acad;
    box-shadow: 0 -100px 100px -50px #fffcdd inset, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  100% {
    background-color: #ffdede;
    box-shadow: 0 -100px 100px -50px #b9d5b8 inset, 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
